.section {
  background-color: var(--black);
  padding: 40px 80px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h2 {
  font-size: 22px;
  font-weight: 600;
}

.toggle {
  background: none;
  border: none;
  color: var(--green);
  font-weight: 600;
  cursor: pointer;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
}


.sliderWrapper {
  position: relative;
}

.row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.row::-webkit-scrollbar {
  display: none;
}


.arrowLeft,
.arrowRight {
  position: absolute;
  top: 40%;
  background-color: var(--green);
  border: none;
  color: black;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.arrowLeft {
  left: -20px;
}

.arrowRight {
  right: -20px;
}