.button {
  height: 48px;
  padding: 0 20px;
  background-color: var(--black);
  color: var(--green);
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  opacity: 1;
}