.hero {
  background-color: var(--black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  color:#ffffff;
}

@media (max-width: 768px) {
  .heroContainer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .heroImage {
    width: 200px;
    margin-top: 20px;
  }
}
