.searchWrapper {
  position: relative;
  width: 500px;
}

.inputContainer {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.inputContainer input {
  flex: 1;
  padding: 10px 12px;
  border: none;
  outline: none;
}

.icon {
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: #121212;
  border-radius: 8px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
  z-index: 999;
}

.resultItem {
  padding: 12px;
  border-bottom: 1px solid #1f1f1f;
  cursor: pointer;
  color: white;
}

.resultItem:hover {
  background: #1e1e1e;
}

.resultItem strong {
  display: block;
}

.resultItem p {
  font-size: 12px;
  color: #aaa;
  margin-top: 4px;
}

.resultItem:hover {
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  color: white;
}

@media (max-width: 768px) {
  .searchWrapper {
    width: 100%;
  }

  .dropdown {
    width: 100%;
  }
}